.selectTextWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 288px;
  height: 100%;
  width: calc(100% - 288px);
  background: transparent;
  backdrop-filter: blur(5px);
  z-index: 50;
  overflow: hidden;
}

.selectTextContent {
  position: fixed;
  top: 5%;
  bottom: 0;
  left: 50%;
  z-index: 50;
  transform: translate(-50%, -3%);
  height: 90%;
  width: 1130px;
  background: #e3e4e6;
  border-radius: 15px;
  overflow: auto;
  padding: 10px 15px;
  ::-webkit-scrollbar {
    width: 0;
  }
  :global {
    .custom-select__control {
      margin-bottom: 10px;
    }
  }
}
