.custom-select {
  &__control {
    width: 250px !important;
  }
  &__menu {
    z-index: 5 !important;
    width: 250px !important;
    img {
      max-height: 35px;
      overflow: hidden;
    }
  }
  &__single-value {
    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.media-select {
  &__control {
    width: 350px !important;
  }
  &__menu {
    z-index: 5 !important;
    width: 350px !important;
    height: 500px !important;
    max-height: 500px !important;
    > div {
      height: 500px !important;
      max-height: 500px !important;
    }
  }
}
