.custom-select {
  &__control {
    width: 250px !important;
  }
  &__menu {
    z-index: 5 !important;
    width: 250px !important;
  }
}

.media-select {
  &__control {
    width: 350px !important;
  }
  &__menu {
    z-index: 5 !important;
    width: 350px !important;
  }
}
