.textItem {
  a {
    color: blue;
    font-weight: 700;
    text-decoration: underline;
  }
  &.active {
    .button {
      background: blue;
      opacity: 1;
      visibility: visible;
    }
  }
  &.check:hover {
    .button,
    .settings {
      opacity: 1;
      visibility: visible;
    }
  }
}

.settings {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -23px;
  cursor: pointer;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.button {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid blue;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.selectTextWrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 288px;
  height: 100%;
  width: calc(100% - 288px);
  background: transparent;
  backdrop-filter: blur(5px);
  z-index: 50;
  overflow: hidden;
}

.selectTextContent {
  position: fixed;
  top: 5%;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -3%);
  height: 90%;
  width: 1130px;
  background: #e3e4e6;
  border-radius: 15px;
  overflow: auto;
  padding: 10px 15px;
  z-index: 50;
  ::-webkit-scrollbar {
    width: 0;
  }
}
